.navbar {
  opacity: .6;
  color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    padding-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

.title {
  font-family: 'Goblin One', cursive;
}

.banner {
  background:url('../images/ribs3.png') no-repeat center center;
  min-height:100%;
  background-size:cover;
  padding: 120px 0px 80px 0px;
  color: #ffcce6;
  text-shadow: 2px 2px 4px #5900b3;
  font-family: 'Goblin One', cursive;
  margin-bottom: 25px;
}

.me {
  max-height: 200px;
  border-radius: 10px;
  float: left;
  margin: 0px 20px 10px 5px;
}

.about_me {
  font-family: 'Roboto Slab', serif;
  padding: 15px;
}

.portfolio_pic {
  max-height: 250px;
  border: medium groove #660033;
}

.portfolio_text {
  max-height: 250px;
  max-width: 350px;
}

footer {
  margin: 15px 0px 15px 0px;
}

#test_text {
  margin-top: -220px;
  min-height: 210px

}

#test_pic {
  max-height: 250px;
  border: medium groove #660033;
}

.portfolio_container {
  
  height:250px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: all .3s ease;
}

.portfolio_container:hover {
  background: rgba(255, 255, 255, 0.1);
}

.text {
  margin-top: -220px;
  min-height: 210px;
  opacity: 0;
  transition: all .3s ease;
}

.portfolio_container:hover .text {
 opacity: 1;
}

.portfolio_container:hover .pic {
 opacity: 0.2;
}

 .pic{
  max-height: 250px;
  border: medium groove #660033;
}

