.banner {
  background:url('../images/ribs3.png') no-repeat center center;
  min-height:100%;
  background-size:cover;
  padding: 120px 0px 80px 0px;
  color: #ffcce6;
  text-shadow: 2px 2px 4px #5900b3;
  font-family: 'Goblin One', cursive;
  margin-bottom: 25px;
}

.about_me {
  font-family: 'Roboto Slab', serif;
  padding: 15px;
}

.me {
  max-height: 200px;
  border-radius: 10px;
  float: left;
  margin: 0px 20px 10px 5px;
}

.navbar {
  opacity: .6;
  color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    padding-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

.title {
  font-family: 'Goblin One', cursive;
}

footer {
  margin: 15px 0px 15px 0px;
}

