<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

  <% include ../partials/header %>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="text-center">
      <img src="images/surf.png" class="surf">
    </div>
    <div class="about_me">
    I have a passion for building and fixing things. Let me build something for you. 
    <br>
    <br>
    I’m a full stack engineer who specializes in front end work and web virtual reality(VR). I love turning a designers vision into reality. I am currently working on some experimental webVR using a hot new framework from mozilla, called A-Frame, which allows developers to create simple WebVR pages. If you would like to learn more, check out my article on the subject on <a href="https://medium.com/@nwimmer123/a-frame-a-good-tool-for-virtual-reality-development-115d7feb4a8c#.fdql75kcy">Medium.</a>
    <br>
    <br>
    When I’m not working, I love spending time with my kids, surfing, building things, listening to sci-fi and fantasy epics via Audible, who really has time to read books these days, doing jigsaw puzzles and playing video games. If I had all the time in the world I’d train more in Muay Thai, learn to sail, play my cello again, dungeon master an Advanced Dungeons and Dragons group and a Rifts group, start a metal band and find a dedicated Twilight Struggle playing partner. But hey, you only got so much time.
    <br>
    <br>
    I look forward to a long career of building cool stuff so I can keep doing cool stuff!
    </div>
  </div>

    <% include ../partials/footer %>
  </body>

</html>