<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <br>
<br>
  <div class="container">

    <div class="text-center portfolio_title">
        <h1>For Developers</h1>
      </div>
      <br>
      <div class="container-fluid row border-between">

      <div class="col-sm-6">
        <img src="images/boilerplate-ejs.png" class="portfolio_pic">
        <h2 class="portfolio_title">Node Auth Boilerplate using EJS</h2>
        <p class="portfolio_text">Use this boilerplate to start an app using EJS. Clone it from the github link bellow.</p>

        <p><strong>Languages:</strong> JavaScript, HTML, CSS</p>
        <p><strong>Frameworks:</strong> Node, Express</p>
        <p><strong>Libraries:</strong> jQuery</p>
        <p><strong>Database:</strong> Moongoose, MongoDB</p>
        <p><strong>Other:</strong> Git, Bootstrap, EJS</p>

        <a href="https://github.com/nwimmer123/boilerplate-node-ejs-auth">GitHub Link</a>
      </div>

      <div class="col-sm-6">
        <img src="images/jade.png" class="portfolio_pic">
        <h2 class="portfolio_title">Node Auth Boilerplate using Jade</h2>
        <p class="portfolio_text">Use this boilerplate to start an app using Jade. Clone it from the github link bellow.</p>

        <p><strong>Languages:</strong> JavaScript, HTML, CSS</p>
        <p><strong>Frameworks:</strong> Node, Express</p>
        <p><strong>Libraries:</strong> jQuery</p>
        <p><strong>Database:</strong> Moongoose, MongoDB</p>
        <p><strong>Other:</strong> Git, Bootstrap, Jade</p>

        <a href="https://github.com/nwimmer123/boilerplate-node-jade-auth">GitHub Link</a>
      </div>

      <div class="text-center portfolio_title">
        <h1>Solo Projects</h1>
      </div>
      <br>
      <div class="container-fluid row border-between">

      <div class="col-sm-6">
        <img src="images/read_it.png" class="portfolio_pic">
        <h2 class="portfolio_title">Read It</h2>
        <p class="portfolio_text">The purpose of Read It is for friends to be able to share book recommendations and discuss their favorite books in the reviews section.</p>

        <p><strong>Languages:</strong> JavaScript, HTML, CSS</p>
        <p><strong>Frameworks:</strong> Node, Express</p>
        <p><strong>Libraries:</strong> jQuery</p>
        <p><strong>Database:</strong> Moongoose, MongoDB</p>
        <p><strong>Other:</strong> Git, JSON, Bootstrap, Handlebars</p>
    
        <a href="https://mysterious-basin-2931.herokuapp.com/">Read It</a>
        <br>
        <a href="https://github.com/nwimmer123/project-01">GitHub Link</a>
      </div>

      <div class="col-sm-6">
        <img src="images/adventures.png" class="portfolio_pic">
        <h2 class="portfolio_title">Adventure Creator</h2>
        <p class="portfolio_text">A user can play and create "Choose Your Own Adventure" stories.</p>

        <p><strong>Languages:</strong> Ruby, HTML, CSS</p>
        <p><strong>Frameworks:</strong> Rails</p>
        <p><strong>Database:</strong> Postgresql</p>
        <p><strong>Other:</strong> Git, Bootstrap</p>

        <a href="https://adventure-creator.herokuapp.com/">Adventure Creator</a>
        <br>
        <a href="https://github.com/nwimmer123/Adventure_Creator">GitHub Link</a>
      </div>
    </div>


    <div class="text-center portfolio_title">
      <h1>Group Projects</h1>
    </div>

    <br>

    <div class="container-fluid row border-between">

      <div class="col-sm-6">
        <img src="images/share.png" class="portfolio_pic">
        <h2 class="portfolio_title">Sharetastic</h2>
        <p class="portfolio_text">Our platform allows neighbors to connect by sharing skills to accomplish tasks by trading skills rather than paying for services.</p>

        <p><strong>Responsibilities:</strong> We pair programmed the whole time. I spent a lot of time working on the front end of this project, particularly the styling and the logic of the view pages.</p>

        <p><strong>Languages:</strong> Ruby, HTML, CSS</p>
        <p><strong>Frameworks:</strong> Rails</p>
        <p><strong>Database:</strong> Postgresql</p>
        <p><strong>Other:</strong> Git, Bootstrap</p>
    
        <a href="https://sharetastic.herokuapp.com/">Sharetastic</a>
        <br>
        <a href="https://github.com/kehontas/share">GitHub Link</a>
      </div>

      <div class="col-sm-6">
        <img src="images/vagabonder.png" class="portfolio_pic">
        <h2 class="portfolio_title">Vagabonder</h2>
        <p class="portfolio_text">A web site to discuss your travels and favorite cities.</p>

        <p><strong>Responsibilities:</strong> We pair programmed the whole time. I spent a lot of time troubleshooting and looking for solutions to broken code.</p>

        <p><strong>Languages:</strong> Ruby, HTML, CSS</p>
        <p><strong>Frameworks:</strong> Rails</p>
        <p><strong>Database:</strong> Postgresql</p>
        <p><strong>Other:</strong> Git, Bootstrap</p>
    
        <a href="http://vagabonders.herokuapp.com/">Vagabonder</a>
        <br>
        <a href="https://github.com/bw-giraffe/project_vagabond">GitHub Link</a>
      </div>
    </div>

  </div>

    <% include ../partials/footer %>
  </body>

</html>